<app-header />

<!-- Instead of using users[0].id, you can use the $event variable, which is a reserved name -->
<!-- The $event will hold the data that you emitted before -->

<!-- We use $for to output lists and @if to output conditional rendering -->
<main>
  <ul id="users">
    <!-- Special Angular syntax to dynamically render a list -->
    <!-- user of users where users is the array and user is the temporary elem name -->
    <!-- angular wants to keep track of user.id, hence the user.id tracking -->
    @for (user of users; track user.id){
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    }
    <!-- ALT FOR SYNTAX: -->
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li> -->
  </ul>
  @if(selectedUser){
  <app-tasks [name]="selectedUser.name" />
  } @else {
  <p id="fallback">Select a user to see their tasks.</p>
  }
  <!-- ALT SYNTAX FOR IF  -->
  <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name" />
   else  -->
  <!-- <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks</p>
  </ng-template> -->
</main>
