<div>
  <button (click)="onSelectUser()">
    <img [src]="imgPath" [alt]="name" />
    <span>{{ name }}</span>
  </button>
</div>

<!-- <div>
  <!-- in angular, you add eventlisteners in this code, with event name within parenthesis, ex (click) -->
<!-- add the code in your class of your component used. -->
<!-- <button (click)="onSelectUser()">
    <!-- imgPath has () because we use computed(() => ) in our ts file. -->
<!-- <img [src]="imgPath()" [alt]="userName" /> -->
<!-- you have to add () to your object if the object is of a signal property -->
<!-- <span>{{ selectedUser().name }}</span> -->
<!-- </button> -->
<!-- </div> -->
